name: Check Only

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  examples:
    name: Examples (windows-2022, msvc-17.13.6, Debug)
    runs-on: ubuntu-latest
    steps:
      - name: OK
        run: echo ok
